.mytikas-app {
    display: flex;
    flex-direction: row;
    max-height: 100%;
}

.right-panel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.partial-turn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partial-turn .turn-string {
    flex-grow: 1;
    /* Keep consistent with .history .turn */
    padding: 4px 16px;
    font: 16px monospace;
    white-space: pre;
}

.right-panel button {
    flex: 1;
    font-size: 14pt;
    padding: 8px;
    border-color: #ddd;
    background: #ccc;
}

.right-panel button:disabled {
    opacity: 50%;
    background: #888;
}

.player-select {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4px;
}

.player-select label {
    font-size: 14pt;
    text-align: center;
}

.player-select select {
    font-size: 12pt;
    background: #ddd;
}

/* Try to keep button styling in sync with buttons defined in HistoryComponent.css */
.history .buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.history .buttons button {
    flex: 1;
    font-size: 14pt;
    padding: 8px;
    border-color: #ddd;
    background: #ccc;
}

.history .buttons button:disabled {
    opacity: 50%;
    background: #888;
}
