.board-container {
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows:    repeat(9, 60px);
    margin: 20px;
}

.board-pieces {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

.field.light { background: #dcb; }
.field.dark  { background: #cba; }

.field {
    border-style: solid;
    border-color: #a984;
    border-width: 0;
}

.field.border-top    { border-top-width:    2px;  padding-top:    -2px; }
.field.border-bottom { border-bottom-width: 2px;  padding-bottom: -2px; }
.field.border-right  { border-right-width:  2px;  padding-right:  -2px; }
.field.border-left   { border-left-width:   2px;  padding-left:   -2px; }

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.piece {
    position: absolute;
    width:       60px;
    height:      60px;
    transition: left 0.5s ease, top 0.5s ease;
    user-select: none;
}

.piece .emoji {
    margin:       4px;
    width:       48px;
    height:      48px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;

    font-size:   32px;
    line-height: 48px;
}

.piece.light .emoji {
    background: #eee;
}

.piece.dark .emoji {
    background: #111;
}

.piece .health {
    position: absolute;
    font: bold 16px sans-serif;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background: rgb(0 0 0 / 50%);
    color: white;
}

.piece.light .health {
    top:   0px;
    right: 0px;
    color: black;
    background: #eee;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.piece.dark .health {
    bottom: 0px;
    left:   0px;
    color: white;
    background: #333;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.piece .name {
    position: absolute;
    left:  0;
    right: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font: 10px sans-serif;
    border-radius: 4px;
    padding: 0px 2px;
}

.piece.light .name {
    top: auto;
    bottom: 0;
    background: #111;
    border: 1px solid black;
    background: #eee;
    color: black;
}

.piece.dark .name {
    top: 0;
    bottom: auto;
    border: 1px solid #666;
    background: #111;
    color: white;
}

.roster {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows:    repeat(2, 60px);
    margin: 20px;
}

.roster .item {
    position: relative;
    width: 60px;
    height: 60px;
}

.roster .item .piece {
    opacity: 100%;
    transition: opacity 0.5s ease;
}

.roster .item.alive .piece,
.roster .item.dead .piece {
    opacity: 15%;
}

.roster .item .eliminated {
    position:       absolute;
    display:        none;
    font-size:      32px;
    width:          60px;
    height:         60px;
    line-height:    60px;
    text-align:     center;
    user-select:    none;
}

.roster .item.dead .eliminated {
    display: block;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
