.history {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

/* Try to keep button styling in sync with buttons defined in App.css */
.state-buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.state-buttons button {
    flex: 1;
    font-size: 14pt;
    padding: 8px;
    border-color: #ddd;
    background: #ccc;
}

.state-buttons button:disabled {
    opacity: 50%;
    background: #888;
}

.history .turn-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
}

/* Keep consistent with .partial-turn .turn-string */
.history .turn {
    padding: 4px 16px;
    font: 16px monospace;
    white-space: pre;
}

.history .turn.light {
    background: white;
}

.history .turn.selectable.dark {
    background: #ddd;
}

.history .turn.selected {
    font-weight: bold;
    background: #ff0;
}

.history .turn.selectable.dark.selected {
    background: #dd0;
}

.history .turn.selectable {
    cursor: pointer;
}

.history .turn.selectable:hover:not(.selected) {
    background: #ffd;
}

.history .turn.selectable.dark:hover:not(.selected) {
    background: #dda;
}
