.history {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
}

.history .buttons {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.history .buttons button {
    flex: 1;
    font-size: 14pt;
    padding: 8px;
    border: none;
    background: #ccc;
}

.history .buttons button:disabled {
    opacity: 50%;
    background: #888;
}

.history .turn-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
}

.history .turn {
    padding: 4px 16px;
    font: 16px monospace;
    white-space: pre;
}

.history .turn.light {
    background: white;
}

.history .turn.dark {
    background: #ddd;
}

.history .turn:hover {
    cursor: pointer;
    background: #ffd;
}

.history .turn.selected {
    background: #ff0;
    font-weight: bold;
}

.history .turn.dark:hover {
    background: #dda;
}

.history .turn.dark.selected {
    background: #dd0;
}
