.history {
    position: absolute;
    min-width: 350px;
    right: 0;
    top: 0;
    bottom: 0;
    background: #ccc;
    box-shadow: -20px 0 20px #888;
    border-left: 1px solid #888;
    overflow: hidden;
}

.history .content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

/* Try to keep button styling in sync with buttons defined in App.css */
.history .buttons {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

/* Inherit default button styling */
/*
.history .buttons button {
    flex: 1;
    font-size: 14pt;
    padding: 8px;
    border-color: #ddd;
    background: #ccc;
}

.history .buttons button:disabled {
    opacity: 50%;
    background: #888;
}
*/

.history .turn-list {
    flex-grow: 1;
    overflow-y: auto;
}

/* Keep consistent with .partial-turn .turn-string */
.history .turn {
    padding: 4px 16px;
    font: 16px monospace;
    white-space: pre;
}

.history .turn.light {
    background: white;
}

.history .turn.selectable.dark {
    background: #ddd;
}

.history .turn.selected {
    font-weight: bold;
    background: #ff0;
}

.history .turn.selectable.dark.selected {
    background: #dd0;
}

.history .turn.selectable {
    cursor: pointer;
}

.history .turn.selectable:hover:not(.selected) {
    background: #ffd;
}

.history .turn.selectable.dark:hover:not(.selected) {
    background: #dda;
}
